#page-not-found {
  background: #fff;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-top: 28px;
    max-width: 490px;
  }

  p {
    margin: 18px 0;
    max-width: 490px;
  }
}
